<% include partials/header.ejs %>

<div class="container text-center">
	<h2><a href="/movie/adventure?page=<%= parseInt(page) - 1 %>" class="btn btn-primary"><span class="glyphicon glyphicon-backward" aria-hidden="true"></span></a> Adventureous <a href="/movie/adventure?page=<%= parseInt(page) + 1 %>" class="btn btn-primary"><span class="glyphicon glyphicon-forward" aria-hidden="true"></span></a></h2>
	<hr>
	<div class="carousel slide">
	<% data.map(function(info){%>
	<li class="posters"><a href="/info/<%=info.id%>"><img src="http://image.tmdb.org/t/p/w300/<%= info.poster_path%>"></a></li>
	<% }) %>
	</div>
</div>
<br><br>
<div class="container text-center">
	<a href="/movie/adventure?page=<%= parseInt(page) - 1 %>" class="btn btn-primary"><span class="glyphicon glyphicon-backward" aria-hidden="true"></span></a>
	<a href="/movie/adventure?page=<%= parseInt(page) + 1 %>" class="btn btn-primary"><span class="glyphicon glyphicon-forward" aria-hidden="true"></span></a>
</div>

<% include partials/footer.ejs %>
