<% include partials/header.ejs %>

<div class="container">
	<h2 class="text-center movieInfo-header">Movie Information</h2>
	<hr>
	<br><br>
	<div class="col-md-8">
		<h3 class="movieTitle">
			<%= info.title%>
			<button class="addButton btn btn-primary" id="favoriteButton" type="submit" data-title="<%=info.title%>" data-movieId="<%=info.id%>" data-userId="<%=user.id%>"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></button>
		</h3>
		<p class="infoTitle"><%= info.overview%></p>
		<p class="infoLink"><a href="http://www.themoviedb.org/movie/<%=info.id%>">Where to watch this at?</a></p>
	</div>
	<div class="col-md-4">
		<p class="infoPoster"><img src="http://image.tmdb.org/t/p/w300/<%= info.poster_path%>"></p>
	</div>
</div>

<% include partials/footer.ejs %>
